*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

/*
*
*
*
*/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	/*font-weight: 600;*/
}

#portfolioApp {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,79,115,1) 52%, rgba(12,68,106,1) 100%, rgba(0,212,255,1) 100%);
	font-size: 18px;
	color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#portfolioApp > div {
	width: 100%;
}

#landing {
	min-height: 100vh;
}

#about {
	min-height: 100vh;
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
}
#about div {
	flex:1;
}

#projects {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
}
#projects #cardSet {
	display: flex;
	flex-wrap: nowrap;
}
#projects #cardSet .card {
	margin: 20px;
	color: black;
}

#projects #cardSet .card img {
	width: 100%;
}

#projects div {
	flex:1;
}

#contact {
	min-height: 20vh;
	display: flex;
}

#contact {

}

#ending {
	min-height: 5vh;
}


